<a href="https://colab.research.google.com/github/tavishcode/fyp/blob/master/notebooks/clean_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from google.colab import drive
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from datetime import datetime
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [0]:
df = pd.read_csv('drive/My Drive/portals-1.csv', index_col=0)

In [0]:
portals = df['portals'].str.get_dummies(sep=';')

In [0]:
portals_sum = portals.sum().sort_values(ascending=False)

In [0]:
portals_sliced = portals[portals_sum.index[:10]]

In [0]:
portals_sliced.shape

(16384, 10)

In [0]:
portals_sliced.head()

,Biography,Film,United States,2010s,Politics,Television in the United States,Film in the United States,Television,Contents/Portals,Government of the United States
11570,0,0,0,1,0,1,0,0,0,0
77306,0,0,0,1,0,0,0,0,0,0
74655,0,0,0,0,0,0,0,0,0,0
39449,0,0,0,0,0,0,0,0,0,0
9007,0,0,0,0,0,0,0,0,0,0

In [0]:
df.drop(columns='portals', inplace=True)

In [0]:
df.head()

,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,...,2016-07-30,2016-07-31,2016-08-01,2016-08-02,2016-08-03,lang,link,Agent,Access,Type
11570,2182.0,2223.0,1922.0,1844.0,2008.0,2162.0,2139.0,2145.0,2922.0,2752.0,...,3485.0,4061.0,4439.0,4019.0,3831.0,en,Lucifer_(TV_series),all-agents,desktop,en.wikipedia.org
77306,1170.0,1163.0,1248.0,1280.0,1387.0,1152.0,1071.0,1065.0,1071.0,964.0,...,1565.0,1722.0,1553.0,1453.0,1571.0,en,Final_Fantasy_XV,all-agents,mobile-web,en.wikipedia.org
74655,483.0,412.0,407.0,449.0,472.0,426.0,523.0,635.0,672.0,426.0,...,1050.0,1401.0,1097.0,930.0,740.0,en,Shraddha_Nigam,all-agents,mobile-web,en.wikipedia.org
39449,152.0,165.0,115.0,80.0,61.0,93.0,79.0,109.0,197.0,84.0,...,248.0,249.0,291.0,308.0,349.0,en,Trump_Tower,all-agents,all-access,en.wikipedia.org
9007,51.0,91.0,48.0,88.0,52.0,69.0,81.0,109.0,65.0,47.0,...,48.0,45.0,46.0,49.0,32.0,en,Edmonia_Lewis,all-agents,desktop,en.wikipedia.org

In [0]:
df['Agent'] = df['Page'].str.split('_').str[-1].astype('category')
df['Access'] = df['Page'].str.split('_').str[-2].astype('category')
df['Type'] = df['Page'].str.split('_').str[-3].astype('category')
df.drop('Page', axis=1, inplace=True)

In [0]:
# One Hot Encoding of categorical features (Agent, Access, Type, Title)

In [0]:
train_start = 0
train_end = 200
test_start = train_end
test_end = test_start + 200

In [0]:
dataset_arr = df.values

In [0]:
df.head()

,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,...,2016-07-30,2016-07-31,2016-08-01,2016-08-02,2016-08-03,lang,link,Agent,Access,Type
11570,2182.0,2223.0,1922.0,1844.0,2008.0,2162.0,2139.0,2145.0,2922.0,2752.0,...,3485.0,4061.0,4439.0,4019.0,3831.0,en,Lucifer_(TV_series),all-agents,desktop,en.wikipedia.org
77306,1170.0,1163.0,1248.0,1280.0,1387.0,1152.0,1071.0,1065.0,1071.0,964.0,...,1565.0,1722.0,1553.0,1453.0,1571.0,en,Final_Fantasy_XV,all-agents,mobile-web,en.wikipedia.org
74655,483.0,412.0,407.0,449.0,472.0,426.0,523.0,635.0,672.0,426.0,...,1050.0,1401.0,1097.0,930.0,740.0,en,Shraddha_Nigam,all-agents,mobile-web,en.wikipedia.org
39449,152.0,165.0,115.0,80.0,61.0,93.0,79.0,109.0,197.0,84.0,...,248.0,249.0,291.0,308.0,349.0,en,Trump_Tower,all-agents,all-access,en.wikipedia.org
9007,51.0,91.0,48.0,88.0,52.0,69.0,81.0,109.0,65.0,47.0,...,48.0,45.0,46.0,49.0,32.0,en,Edmonia_Lewis,all-agents,desktop,en.wikipedia.org

In [0]:
numerical_dataset = dataset_arr[:,:-5]
categorical_dataset = portals_sliced.values
# categorical_dataset = dataset_arr[:,-3:]
# ct = ColumnTransformer(
#     [('oh_enc', OneHotEncoder(sparse=False), [-1, -2, -3])]
# )
# categorical_dataset = ct.fit_transform(dataset_arr)

In [0]:
categorical_dataset.shape

(16384, 10)

In [0]:
numerical_dataset.shape

(16384, 400)

In [0]:
train = numerical_dataset[:,train_start:train_end].astype('float')
test = numerical_dataset[:,test_start:test_end].astype('float')

In [0]:
# ct.get_feature_names()

Feature Normalization

In [0]:
np.sum(train,axis=0).shape

(200,)

In [0]:
train = train/np.sum(train, axis=0)
print(sum(train[:,0]))
train = train*500000
print(sum(train[:,0]))
test = test/np.sum(test, axis=0)
test = test*500000

0.9999999999999852
499999.9999999927

In [0]:
np.save('drive/My Drive/cache_train.npy', train)
np.save('drive/My Drive/cache_test.npy', test)

In [0]:
# log scaling
train = np.log1p(train)
test = np.log1p(test)

In [0]:
train.shape

(16384, 200)

In [0]:
test.shape

(16384, 200)

In [0]:
scaler = MinMaxScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

In [0]:
train.shape

(16384, 200)

In [0]:
categorical_dataset.shape

(16384, 10)

Processing Statistical Features

In [0]:
means = np.mean(train, axis=1)
medians = np.median(train, axis=1)
stds = np.std(train, axis=1)

Constructing 3D datasets (series, timesteps, features)

In [0]:
# visit, 21 date features, 16 categorical_features, 3 statistical features
num_features = 1 + 10
train_set = np.zeros((train.shape[0], train.shape[1], num_features))
test_set = np.zeros((test.shape[0], test.shape[1], num_features))
for i in range(train.shape[0]):
  row_train = np.column_stack((train[i], 
                              np.tile(categorical_dataset[i], 
                                      (train.shape[1],1))))
  row_test = np.column_stack((test[i], 
                              np.tile(categorical_dataset[i], 
                                      (test.shape[1],1))))
  train_set[i, :, :] = row_train
  test_set[i, :, :] = row_test 
print(train_set.shape)
print(test_set.shape)

(16384, 200, 11)
(16384, 200, 11)

In [0]:
# saving arrays
np.save('drive/My Drive/train_set3.npy', train_set)
np.save('drive/My Drive/test_set3.npy', train_set)