<a href="https://colab.research.google.com/github/tavishcode/fyp/blob/master/notebooks/make_large_test_request_probs_with_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df = pd.read_csv('drive/My Drive/train_1.csv')

In [0]:
df.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [0]:
df.drop('Page', axis=1, inplace=True)

In [0]:
df.fillna(0, inplace=True)

In [0]:
arr = df.values
arr.shape

(145063, 550)

In [0]:
test_arr = arr[:,200:]
test_arr.shape

(145063, 350)

In [0]:
norm_test_arr = test_arr/np.sum(test_arr, axis=0)
sum(norm_test_arr[:,0])

0.9999999999999855

In [0]:
norm_test_arr = np.hstack((np.arange(norm_test_arr.shape[0]).reshape(-1,1), norm_test_arr))

In [0]:
norm_test_arr.shape

(145063, 351)

In [0]:
df = pd.DataFrame(columns=['name']+list(range(1,351)), data=norm_test_arr)

In [0]:
df.head()

,name,1,2,3,4,5,6,7,8,9,...,341,342,343,344,345,346,347,348,349,350
0,0.0,1.297163e-07,8.651055e-08,6.336445e-08,1.636676e-07,1.602994e-07,8.125568e-08,2.015333e-07,8.837600e-08,4.275219e-08,...,1.625519e-07,3.232680e-07,7.589382e-08,1.207430e-07,5.905477e-08,8.429993e-08,9.532767e-08,7.987000e-08,8.670174e-08,9.554667e-08
1,1.0,1.921723e-07,9.131669e-08,6.336445e-08,1.994699e-07,9.824804e-08,8.125568e-08,1.007667e-07,5.400756e-08,3.610185e-07,...,8.635569e-08,2.155120e-07,1.416685e-07,6.965942e-08,3.796378e-08,1.264499e-07,2.253200e-07,1.891658e-07,1.252358e-07,9.554667e-08
2,2.0,1.441292e-08,4.806141e-09,1.462257e-08,1.534384e-08,1.551285e-08,5.078480e-09,1.591053e-08,3.927822e-08,1.900097e-08,...,1.523924e-08,5.131238e-09,5.059588e-09,3.250773e-08,1.687279e-08,1.685999e-08,2.599846e-08,1.261105e-08,1.926705e-08,8.121467e-08
3,3.0,6.245600e-08,8.651055e-08,3.899351e-08,2.557306e-07,4.136759e-08,1.675898e-07,3.182105e-08,1.080151e-07,4.275219e-08,...,1.625519e-07,5.131238e-08,1.315493e-07,1.253870e-07,6.749116e-08,4.636496e-08,7.366229e-08,7.987000e-08,4.816763e-08,5.255067e-08
4,4.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.438278e-07,4.618114e-08,1.264897e-07,6.037150e-08,1.265459e-08,4.636496e-08,1.169931e-07,5.464789e-08,1.734035e-07,4.777333e-08

In [0]:
df['name'] = df['name'].astype(int)

In [0]:
df.head()

,name,1,2,3,4,5,6,7,8,9,...,341,342,343,344,345,346,347,348,349,350
0,0,1.297163e-07,8.651055e-08,6.336445e-08,1.636676e-07,1.602994e-07,8.125568e-08,2.015333e-07,8.837600e-08,4.275219e-08,...,1.625519e-07,3.232680e-07,7.589382e-08,1.207430e-07,5.905477e-08,8.429993e-08,9.532767e-08,7.987000e-08,8.670174e-08,9.554667e-08
1,1,1.921723e-07,9.131669e-08,6.336445e-08,1.994699e-07,9.824804e-08,8.125568e-08,1.007667e-07,5.400756e-08,3.610185e-07,...,8.635569e-08,2.155120e-07,1.416685e-07,6.965942e-08,3.796378e-08,1.264499e-07,2.253200e-07,1.891658e-07,1.252358e-07,9.554667e-08
2,2,1.441292e-08,4.806141e-09,1.462257e-08,1.534384e-08,1.551285e-08,5.078480e-09,1.591053e-08,3.927822e-08,1.900097e-08,...,1.523924e-08,5.131238e-09,5.059588e-09,3.250773e-08,1.687279e-08,1.685999e-08,2.599846e-08,1.261105e-08,1.926705e-08,8.121467e-08
3,3,6.245600e-08,8.651055e-08,3.899351e-08,2.557306e-07,4.136759e-08,1.675898e-07,3.182105e-08,1.080151e-07,4.275219e-08,...,1.625519e-07,5.131238e-08,1.315493e-07,1.253870e-07,6.749116e-08,4.636496e-08,7.366229e-08,7.987000e-08,4.816763e-08,5.255067e-08
4,4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.438278e-07,4.618114e-08,1.264897e-07,6.037150e-08,1.265459e-08,4.636496e-08,1.169931e-07,5.464789e-08,1.734035e-07,4.777333e-08

In [0]:
df.to_csv('drive/My Drive/large_test_probs.csv', index=False)

In [0]:
df.shape

(145063, 351)